#Exclude log folder
log/
# exclude everything
downloads/*

# exception to the rule
!downloads/.gitkeep

# exclude everything
uploads/*.jpg
uploads/*.png

# exception to the rule
!uploads/.gitkeep

credential.config

